.App {
    background-color: rgb(211, 211, 211);
    
    display: flex;
}
.section_one
{
    width: 20%;
    /* min-height: 100vh; */
    background-color: rgb(8, 13, 52);
}
.section_two
{
    width:80%;
    
}
@media (max-width: 1000px) {
    .App {
        flex-direction: column;
    }

    .section_one {
        width: 100%;
    }

    .section_two {
        width: 100%;
    }
}
